.playlist__videos__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.playlist__title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}

.playlist__description {
  font-size: 0.85rem;
  color: var(--gray11);
  padding-bottom: 1rem;
}

.card {
  display: grid;
  padding: 1rem;
  margin: 0;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: var(--ternary-color);
}

.card__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__thumbnail img {
  width: 100%;
  aspect-ratio: 4/2;
  object-fit: cover;
}

.card__description__container {
  padding: 0 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.card__title {
  font-size: 1.2rem;
}

.icon {
  justify-self: flex-end;
  color: var(--ternary-color);
  background-color: var(--primary-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ternary-color);
  cursor: pointer;
}

.icon:hover {
  color: var(--ternary-color);
  background-color: var(--primary-opaque-color);
}

.card__description {
  color: var(--primary-color);
}

@media screen and (min-width: 43.75em) {
  .card {
    grid-template-columns: 3fr 7fr;
    gap: 1rem;
    margin: 0 1rem;
  }
}