.filters__container {
    align-items: center;
    font-size: 14px;
    margin: 1rem;
  }
  
  .filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .filter {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .filter__active {
    background-color: var(--primary-shadow-color);
    color: var(--ternary-color);
  }
  
  .reset__button {
    justify-self: flex-end;
  }