.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.page-title{
    margin: 1rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.main-section{
    width: 100%;
    margin: 1rem;
}

@media screen and (max-width: 64em) {
    .main-section{
        margin: 0;
    }
}