.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.page-title{
    margin: 1rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.content-container{
    margin: 1rem;
}

.main-section{
    width: 100%;
}