.categories-section{
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-card-container{
    height: max-content;
    width: 22rem;
    border-radius: 2rem;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}

.category-card-container img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
}

.category-details{
    margin: 1rem;
}

.category-details p{
    margin: 8px 0;
    font-family: var(--ternary-font);
}


@media screen and (max-width: 64em) {
    .categories-section{
        flex-wrap: wrap;
        justify-content: center;
        width:100vw;
    }
}