.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-inline: auto;
  }
  
  .playlists {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .playlist {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--ternary-color);
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .playlist__icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .in__playlist {
    background-color: rgba(0, 128, 0, 0.267);
    color: rgba(61, 189, 61, 0.9);
    border: 1px solid rgba(61, 189, 61, 0.9);
  }